*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #101010;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.Home{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.Home h2{
    color: white;
    padding: 20px;
    font-size: 50px;
}

.Home button{
    background-color: lightseagreen;
    border: none;
    border-radius: 5px;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 20px;
}